.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(61, 0, 0);
    width: 200px;
    height: 100vh;

    a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        padding: 0.5em 0;
        cursor: pointer;
    }

    a::before {
        content: '📖';
    }
}

.content {
    margin-right: 200px;
    padding: 0.5em;
}