 div {
     align-items: center;
     margin: 0.7em 0;
     width: 30em;

     input {
         width: 100%;
         border-radius: 0.5em;
         padding: 0.5em;
         box-sizing: border-box;
     }
 }