@if (state=='list') {
<button (click)="add()" class="primery">افزودن</button>
<table>
    <thead>
        <tr>
            <th>شناسه</th>
            <th>نام </th>
            <th>نام خانوادگی </th>
            <th>تلفن</th>
            <th>ایمیل</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.fName}}</td>
            <td>{{item.lName}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            <td>
                <button class="primery" (click)="edit(item)">ویرایش</button>
                <button class="primery" (click)="remove(item)">حذف</button>
            </td>
            <td></td>
        </tr>
        }
    </tbody>
</table>
}
@else {
<form (ngSubmit)="Save()">
    <div>
        <label for="id">شناسه</label>
        <input [(ngModel)]="Item.id" type="number" name="id" id="id" placeholder="شناسه">
    </div>
    <div>
        <label for="fName">نام</label>
        <input [(ngModel)]="Item.fName" type="text" name="fName" id="fName" placeholder="نام">
    </div>
    <div>
        <label for="lName">نام خانوادگی</label>
        <input [(ngModel)]="Item.lName" type="text" name="lName" id="lName" placeholder="نام خانوادگی ">
    </div>
    <div>
        <label for="phone">تلفن</label>
        <input [(ngModel)]="Item.phone" type="text" name="phone" id="phone" placeholder="تلفن">
    </div>
    <div>
        <label for="email">ایمیل</label>
        <input [(ngModel)]="Item.email" type="email" name="email" id="email" placeholder="ایمیل">
    </div>
    <div>
        <button class="primery" type="submit" >تایید</button>
        <button class="primery" type="button" (click)="cancel()">انصراف</button>
    </div>

    <!-- @if(message!=''){
     <div class="alert">{{message}}</div>
    } -->

</form>
}