@if (mystate=='list') {
<button (click)="onadd.emit()" class="primery">افزودن</button>
<table>
    <thead>
        @for (item of column; track $index) {
        <th>{{item.title}}</th>
        }
        <th></th>
    </thead>
    <tbody>
        @for (item of mydata; track $index) {
            <tr>
            @for (col of column; track $index) {
             <td>{{item[col.filde]}}</td>
            }
            <td>
                <button (click)="onremove.emit(item)" class="primery">حذف</button>
                <button (click)="onedit.emit(item)" class="primery">ویرایش</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}
@else {
    @if(mystate=='Remove'){
    <div class="alert">
        آیا از حذف این آیتم اطمینان دارید ؟؟
    </div>
    }
<form (ngSubmit)="onsave.emit()">
    <ng-content></ng-content>
    <div>
        <button class="primery" type="button" (click)="onsave.emit()">تایید</button>
        <button type="button" (click)="oncancel.emit()" class="primery">انصراف</button>
    </div>
</form>
}